# Imports

In [105]:
from pathlib import Path

import pandas as pd
import numpy as np

from bs4 import BeautifulSoup as bs

# Data

In [106]:
posting_dir = Path('data/html_job_postings/')

In [107]:
posting_list = []

for file in posting_dir.glob('*.html'):
    posting_list.append([file, file.read_text()])

In [108]:
posting_list[0]

[PosixPath('data/html_job_postings/1e92960a19ffdd34_fccid.html'),
 '<html><head><title>Quantitative Analyst - Boston, MA 02116</title></head>\n<body><h2>Quantitative Analyst - Boston, MA 02116</h2>\n<p>Quantitative Analyst (State Street Bank and Trust Company; Boston, MA): The Quantitative Analyst will be part of State Street Treasury’s Treasury Quantitative Analytics (TQA) group. TQA is responsible for developing/implementing/monitoring advanced financial models that are used in company’s capital management, liquidity management, investment portfolio construction, and balance sheet optimization. The group is accountable for in-depth understanding, modeling, and representation of the complex interaction of global markets, customer behaviors, and regulatory oversights to create a view of risk/revenue opportunities and exposures to the investment committee, Board of Directors, senior management, and regulatory agencies. The Quantitative Analyst role is a key contributor to the realization of the GT’s mission of optimizing net interest income within the desired risk appetite position. Specific responsibilities include: apply advanced statistical techniques to analyze the characteristics of the bank’s liabilities (including deposit balance forecast, deposit attrition rate and deposit pricing), using time-series analysis, survival analysis, and non-parametric regressions; experience with machine learning techniques such as principal component analysis, regression trees, and non-linear models; conduct in-depth quantitative analysis on how macroeconomic changes impact the bank’s balance sheet positions and understand the interest rate risks of the bank in different economic cycles; apply solid knowledge of CCAR, DFAST, and Basel regulations and developed stress testing models to quantify capital and liquidity risks; create and maintain model documentation that meets corporate model risk standards including model development and implementation papers; ensure proper ongoing monitoring of model performance including back-testing and performance reviews; and work closely with key business partners and senior management to understand the business needs and conditions and determine the analytical tools and data needed; serve as the subject matter experts on product analysis and modeling with regulatory agencies and internal oversight functions.\n</p><p></p><p>Minimum requirements: Master’s degree in Econometrics, Mathematics, Statistics, or a related quantitative field plus 2 years of quantitative modeling experience including at least one year in a large, complex financial institution with a broad exposure to all lines of businesses of a custodial bank.\n</p><p></p><p>Must have: demonstrated experience modeling complex financial concepts using non-linear, error correction, survival, and time-series models, Monte Carlo simulations and unsupervised and supervised machine learning, and other advanced quantitative techniques; proven knowledge of liquidity and capital stress testing, CCAR, and deposit modeling experience required; proven solid ability working with large and complex data sets including relational databases and complex queries using both SQL Server and My SQL; demonstrated proficiency in R/SAS/Matlab coding and working knowledge of Excel VBA, Eviews, python, and Cloudera Data Science Workbench; deep and broad understanding of all kinds of financial instruments like loans and deposits, as well as derivatives like options and futures; CFA candidates desired; demonstrated strong written and verbal communication skills and ability to present material to various audiences including upper management and regulators; and proven ability to take initiative, adapt and learn quickly, and be a self-starter. (Unless otherwise indicated, State Street is seeking the ability in the skills listed above with no specific amount of experience required. All experience can be gained concurrently).\n</p><p></p><p>A pply online at statestreet.com/careers . State Street Job ID: R-620670 <b>. </b>An EOE.\n</p><p></p><p>“#LI-DNI”</p></body>\n</html>']

# Data Extraction

In [109]:
def extract_data(html_content):
    
    soup = bs(html_content)

    title_text = soup.find('title').text
    body_text = soup.find('body').text

    bullets = soup.find_all('li')
    bullets_text = []
    for b in bullets:
        bullets_text.append(b.text.strip())
    
    return title_text, body_text, bullets_text

In [110]:
posting_df = pd.DataFrame(columns=['title', 'body', 'bullets'])

for _, html in posting_list:

    title, body, bullets = extract_data(html)
    posting_df = posting_df.append(pd.Series([title, body, bullets], 
                                             index=posting_df.columns), 
                                   ignore_index=True)

In [111]:
posting_df.head()

,title,body,bullets
0,"Quantitative Analyst - Boston, MA 02116","Quantitative Analyst - Boston, MA 02116\nQuant...",[]
1,"Data Scientist - Mountain View, CA","Data Scientist - Mountain View, CA\nGroundTrut...","[Help senior members of the team to explore, d..."
2,"Data Scientist - Seattle, WA","Data Scientist - Seattle, WA\nA Bachelor or Ma...",[A Bachelor or Masters Degree in a highly quan...
3,Senior Natural Language Processing (NLP) Engin...,Senior Natural Language Processing (NLP) Engin...,[Join a small team creating a proprietary NLU ...
4,"FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...","FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...",[]

In [112]:
posting_df.shape

(1337, 3)

## Extract postings related to 'Data Science' and 'ML'

In [113]:
posting_df = posting_df.iloc[np.where(posting_df.title.str.contains('(data science)|(data scientist)|(machine learning)', 
                                                       case=False))]

In [114]:
posting_df.shape

(547, 3)

## Dropping duplicates

In [120]:
posting_df['bullets'] = posting_df['bullets'].apply(tuple, 1)

In [122]:
posting_df['bullets'].head(n=1).values

array([('Help senior members of the team to explore, develop, productionize and optimize machine learning algorithms and pipelines.', 'Use Hadoop, Spark and Amazon Athena on a daily basis to explore our petabytes of data.', 'Dive deep into our rich set of location data, derive insights and build product prototypes.', 'Collaborate with peer data scientists, engineers and product managers closely.', 'Master degree in Computer Science, Statistics, Mathematics, Engineering; PhD is a plus.', 'Has experience in Statistics, Machine Learning.', 'Fluency in Python.', 'Significant experience with SQL; some relational databases or NoSQL data stores.', 'Familiarity with open source machine learning libraries such as scikit-learn and Spark MLlib.', 'Has experience in Amazon Web Services is a plus.', 'Excellent communication skills.')],
      dtype=object)

In [124]:
posting_df = posting_df.drop_duplicates()

In [125]:
posting_df.shape

(541, 3)

# Persisting Data

In [127]:
posting_df.to_csv('data/postings.csv')